nifi/Pipeline_3/template/Pipeline_3_-_Data_Warehouse_Loading.xml
<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<template encoding-version="1.3">
    <description>Loads Netflix CSV data into PostgreSQL using GetFile and PutDatabaseRecord.</description>
    <groupId>1adce85c-019f-1000-6d34-6c4fad294a36</groupId>
    <name>Pipeline 3 - Data Warehouse Loading</name>
    <snippet>
        <controllerServices>
            <id>bdf966fe-2ba8-36e7-0000-000000000000</id>
            <parentGroupId>b8198728-3ff3-3e8c-0000-000000000000</parentGroupId>
            <versionedComponentId>bdf966fe-2ba8-36e7-83f2-05dfbeed6e80</versionedComponentId>
            <bulletinLevel>WARN</bulletinLevel>
            <bundle>
                <artifact>nifi-record-serialization-services-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.28.1</version>
            </bundle>
            <comments></comments>
            <descriptors>
                <entry>
                    <key>schema-access-strategy</key>
                    <value>
                        <name>schema-access-strategy</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-registry</key>
                    <value>
                        <dependencies>
                            <dependentValues>confluent-encoded</dependentValues>
                            <dependentValues>schema-name</dependentValues>
                            <dependentValues>hwx-schema-ref-attributes</dependentValues>
                            <dependentValues>hwx-content-encoded-schema</dependentValues>
                            <propertyName>schema-access-strategy</propertyName>
                        </dependencies>
                        <identifiesControllerService>org.apache.nifi.schemaregistry.services.SchemaRegistry</identifiesControllerService>
                        <name>schema-registry</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-name</key>
                    <value>
                        <dependencies>
                            <dependentValues>schema-name</dependentValues>
                            <propertyName>schema-access-strategy</propertyName>
                        </dependencies>
                        <name>schema-name</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-version</key>
                    <value>
                        <dependencies>
                            <dependentValues>schema-name</dependentValues>
                            <propertyName>schema-access-strategy</propertyName>
                        </dependencies>
                        <name>schema-version</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-branch</key>
                    <value>
                        <dependencies>
                            <dependentValues>schema-name</dependentValues>
                            <propertyName>schema-access-strategy</propertyName>
                        </dependencies>
                        <name>schema-branch</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-text</key>
                    <value>
                        <dependencies>
                            <dependentValues>schema-text-property</dependentValues>
                            <propertyName>schema-access-strategy</propertyName>
                        </dependencies>
                        <name>schema-text</name>
                    </value>
                </entry>
                <entry>
                    <key>csv-reader-csv-parser</key>
                    <value>
                        <name>csv-reader-csv-parser</name>
                    </value>
                </entry>
                <entry>
                    <key>Date Format</key>
                    <value>
                        <name>Date Format</name>
                    </value>
                </entry>
                <entry>
                    <key>Time Format</key>
                    <value>
                        <name>Time Format</name>
                    </value>
                </entry>
                <entry>
                    <key>Timestamp Format</key>
                    <value>
                        <name>Timestamp Format</name>
                    </value>
                </entry>
                <entry>
                    <key>CSV Format</key>
                    <value>
                        <name>CSV Format</name>
                    </value>
                </entry>
                <entry>
                    <key>Value Separator</key>
                    <value>
                        <dependencies>
                            <dependentValues>custom</dependentValues>
                            <propertyName>CSV Format</propertyName>
                        </dependencies>
                        <name>Value Separator</name>
                    </value>
                </entry>
                <entry>
                    <key>Record Separator</key>
                    <value>
                        <dependencies>
                            <dependentValues>custom</dependentValues>
                            <propertyName>CSV Format</propertyName>
                        </dependencies>
                        <name>Record Separator</name>
                    </value>
                </entry>
                <entry>
                    <key>Skip Header Line</key>
                    <value>
                        <name>Skip Header Line</name>
                    </value>
                </entry>
                <entry>
                    <key>ignore-csv-header</key>
                    <value>
                        <name>ignore-csv-header</name>
                    </value>
                </entry>
                <entry>
                    <key>Quote Character</key>
                    <value>
                        <dependencies>
                            <dependentValues>custom</dependentValues>
                            <propertyName>CSV Format</propertyName>
                        </dependencies>
                        <name>Quote Character</name>
                    </value>
                </entry>
                <entry>
                    <key>Escape Character</key>
                    <value>
                        <dependencies>
                            <dependentValues>custom</dependentValues>
                            <propertyName>CSV Format</propertyName>
                        </dependencies>
                        <name>Escape Character</name>
                    </value>
                </entry>
                <entry>
                    <key>Comment Marker</key>
                    <value>
                        <dependencies>
                            <dependentValues>custom</dependentValues>
                            <propertyName>CSV Format</propertyName>
                        </dependencies>
                        <name>Comment Marker</name>
                    </value>
                </entry>
                <entry>
                    <key>Null String</key>
                    <value>
                        <dependencies>
                            <dependentValues>custom</dependentValues>
                            <propertyName>CSV Format</propertyName>
                        </dependencies>
                        <name>Null String</name>
                    </value>
                </entry>
                <entry>
                    <key>Trim Fields</key>
                    <value>
                        <dependencies>
                            <dependentValues>custom</dependentValues>
                            <propertyName>CSV Format</propertyName>
                        </dependencies>
                        <name>Trim Fields</name>
                    </value>
                </entry>
                <entry>
                    <key>csvutils-character-set</key>
                    <value>
                        <name>csvutils-character-set</name>
                    </value>
                </entry>
                <entry>
                    <key>csvutils-allow-duplicate-header-names</key>
                    <value>
                        <dependencies>
                            <dependentValues>custom</dependentValues>
                            <propertyName>CSV Format</propertyName>
                        </dependencies>
                        <name>csvutils-allow-duplicate-header-names</name>
                    </value>
                </entry>
                <entry>
                    <key>Trim double quote</key>
                    <value>
                        <dependencies>
                            <dependentValues>rfc-4180</dependentValues>
                            <propertyName>CSV Format</propertyName>
                        </dependencies>
                        <name>Trim double quote</name>
                    </value>
                </entry>
            </descriptors>
            <name>CSVReader</name>
            <persistsState>false</persistsState>
            <properties>
                <entry>
                    <key>schema-access-strategy</key>
                    <value>csv-header-derived</value>
                </entry>
                <entry>
                    <key>schema-registry</key>
                </entry>
                <entry>
                    <key>schema-name</key>
                    <value>${schema.name}</value>
                </entry>
                <entry>
                    <key>schema-version</key>
                </entry>
                <entry>
                    <key>schema-branch</key>
                </entry>
                <entry>
                    <key>schema-text</key>
                    <value>${avro.schema}</value>
                </entry>
                <entry>
                    <key>csv-reader-csv-parser</key>
                    <value>commons-csv</value>
                </entry>
                <entry>
                    <key>Date Format</key>
                </entry>
                <entry>
                    <key>Time Format</key>
                </entry>
                <entry>
                    <key>Timestamp Format</key>
                </entry>
                <entry>
                    <key>CSV Format</key>
                    <value>custom</value>
                </entry>
                <entry>
                    <key>Value Separator</key>
                    <value>,</value>
                </entry>
                <entry>
                    <key>Record Separator</key>
                    <value>\n</value>
                </entry>
                <entry>
                    <key>Skip Header Line</key>
                    <value>true</value>
                </entry>
                <entry>
                    <key>ignore-csv-header</key>
                    <value>false</value>
                </entry>
                <entry>
                    <key>Quote Character</key>
                    <value>"</value>
                </entry>
                <entry>
                    <key>Escape Character</key>
                    <value>\</value>
                </entry>
                <entry>
                    <key>Comment Marker</key>
                </entry>
                <entry>
                    <key>Null String</key>
                </entry>
                <entry>
                    <key>Trim Fields</key>
                    <value>true</value>
                </entry>
                <entry>
                    <key>csvutils-character-set</key>
                    <value>UTF-8</value>
                </entry>
                <entry>
                    <key>csvutils-allow-duplicate-header-names</key>
                    <value>true</value>
                </entry>
                <entry>
                    <key>Trim double quote</key>
                    <value>true</value>
                </entry>
            </properties>
            <state>ENABLED</state>
            <type>org.apache.nifi.csv.CSVReader</type>
        </controllerServices>
        <processGroups>
            <id>9c837d87-1416-3c3c-0000-000000000000</id>
            <parentGroupId>b8198728-3ff3-3e8c-0000-000000000000</parentGroupId>
            <position>
                <x>0.0</x>
                <y>0.0</y>
            </position>
            <versionedComponentId>9c837d87-1416-3c3c-a6be-ed26aebac98f</versionedComponentId>
            <comments></comments>
            <contents>
                <connections>
                    <id>ff666559-1520-3bdf-0000-000000000000</id>
                    <parentGroupId>9c837d87-1416-3c3c-0000-000000000000</parentGroupId>
                    <versionedComponentId>ff666559-1520-3bdf-8992-81bfd8db05fc</versionedComponentId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>9c837d87-1416-3c3c-0000-000000000000</groupId>
                        <id>79e05482-6f06-3b1b-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>79e05482-6f06-3b1b-a99e-f46db37593fd</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>success</selectedRelationships>
                    <source>
                        <groupId>9c837d87-1416-3c3c-0000-000000000000</groupId>
                        <id>88852f5e-9cf4-3fa2-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>88852f5e-9cf4-3fa2-be8a-e6f91396400b</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <controllerServices>
                    <id>559e5aef-3e1a-305a-0000-000000000000</id>
                    <parentGroupId>9c837d87-1416-3c3c-0000-000000000000</parentGroupId>
                    <versionedComponentId>559e5aef-3e1a-305a-9b94-3655659b7996</versionedComponentId>
                    <bulletinLevel>WARN</bulletinLevel>
                    <bundle>
                        <artifact>nifi-dbcp-service-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.28.1</version>
                    </bundle>
                    <comments></comments>
                    <descriptors>
                        <entry>
                            <key>Database Connection URL</key>
                            <value>
<name>Database Connection URL</name>
                            </value>
                        </entry>
                        <entry>
                            <key>Database Driver Class Name</key>
                            <value>
<name>Database Driver Class Name</name>
                            </value>
                        </entry>
                        <entry>
                            <key>database-driver-locations</key>
                            <value>
<name>database-driver-locations</name>
                            </value>
                        </entry>
                        <entry>
                            <key>kerberos-user-service</key>
                            <value>
<identifiesControllerService>org.apache.nifi.kerberos.KerberosUserService</identifiesControllerService>
<name>kerberos-user-service</name>
                            </value>
                        </entry>
                        <entry>
                            <key>kerberos-credentials-service</key>
                            <value>
<identifiesControllerService>org.apache.nifi.kerberos.KerberosCredentialsService</identifiesControllerService>
<name>kerberos-credentials-service</name>
                            </value>
                        </entry>
                        <entry>
                            <key>kerberos-principal</key>
                            <value>
<name>kerberos-principal</name>
                            </value>
                        </entry>
                        <entry>
                            <key>kerberos-password</key>
                            <value>
<name>kerberos-password</name>
                            </value>
                        </entry>
                        <entry>
                            <key>Database User</key>
                            <value>
<name>Database User</name>
                            </value>
                        </entry>
                        <entry>
                            <key>Password</key>
                            <value>
<name>Password</name>
                            </value>
                        </entry>
                        <entry>
                            <key>Max Wait Time</key>
                            <value>
<name>Max Wait Time</name>
                            </value>
                        </entry>
                        <entry>
                            <key>Max Total Connections</key>
                            <value>
<name>Max Total Connections</name>
                            </value>
                        </entry>
                        <entry>
                            <key>Validation-query</key>
                            <value>
<name>Validation-query</name>
                            </value>
                        </entry>
                        <entry>
                            <key>dbcp-min-idle-conns</key>
                            <value>
<name>dbcp-min-idle-conns</name>
                            </value>
                        </entry>
                        <entry>
                            <key>dbcp-max-idle-conns</key>
                            <value>
<name>dbcp-max-idle-conns</name>
                            </value>
                        </entry>
                        <entry>
                            <key>dbcp-max-conn-lifetime</key>
                            <value>
<name>dbcp-max-conn-lifetime</name>
                            </value>
                        </entry>
                        <entry>
                            <key>dbcp-time-between-eviction-runs</key>
                            <value>
<name>dbcp-time-between-eviction-runs</name>
                            </value>
                        </entry>
                        <entry>
                            <key>dbcp-min-evictable-idle-time</key>
                            <value>
<name>dbcp-min-evictable-idle-time</name>
                            </value>
                        </entry>
                        <entry>
                            <key>dbcp-soft-min-evictable-idle-time</key>
                            <value>
<name>dbcp-soft-min-evictable-idle-time</name>
                            </value>
                        </entry>
                    </descriptors>
                    <name>DBCPConnectionPool</name>
                    <persistsState>false</persistsState>
                    <properties>
                        <entry>
                            <key>Database Connection URL</key>
                            <value>jdbc:postgresql://localhost:5432/netflix_dw</value>
                        </entry>
                        <entry>
                            <key>Database Driver Class Name</key>
                            <value>org.postgresql.Driver</value>
                        </entry>
                        <entry>
                            <key>database-driver-locations</key>
                            <value>C:\nifi-1.28.1\jdbc\postgresql-42.7.12.jar</value>
                        </entry>
                        <entry>
                            <key>kerberos-user-service</key>
                        </entry>
                        <entry>
                            <key>kerberos-credentials-service</key>
                        </entry>
                        <entry>
                            <key>kerberos-principal</key>
                        </entry>
                        <entry>
                            <key>kerberos-password</key>
                        </entry>
                        <entry>
                            <key>Database User</key>
                            <value>postgres</value>
                        </entry>
                        <entry>
                            <key>Password</key>
                        </entry>
                        <entry>
                            <key>Max Wait Time</key>
                            <value>500 millis</value>
                        </entry>
                        <entry>
                            <key>Max Total Connections</key>
                            <value>8</value>
                        </entry>
                        <entry>
                            <key>Validation-query</key>
                        </entry>
                        <entry>
                            <key>dbcp-min-idle-conns</key>
                            <value>0</value>
                        </entry>
                        <entry>
                            <key>dbcp-max-idle-conns</key>
                            <value>8</value>
                        </entry>
                        <entry>
                            <key>dbcp-max-conn-lifetime</key>
                            <value>-1</value>
                        </entry>
                        <entry>
                            <key>dbcp-time-between-eviction-runs</key>
                            <value>-1</value>
                        </entry>
                        <entry>
                            <key>dbcp-min-evictable-idle-time</key>
                            <value>30 mins</value>
                        </entry>
                        <entry>
                            <key>dbcp-soft-min-evictable-idle-time</key>
                            <value>-1</value>
                        </entry>
                    </properties>
                    <state>ENABLED</state>
                    <type>org.apache.nifi.dbcp.DBCPConnectionPool</type>
                </controllerServices>
                <processors>
                    <id>79e05482-6f06-3b1b-0000-000000000000</id>
                    <parentGroupId>9c837d87-1416-3c3c-0000-000000000000</parentGroupId>
                    <position>
                        <x>1032.0</x>
                        <y>-152.0</y>
                    </position>
                    <versionedComponentId>79e05482-6f06-3b1b-a99e-f46db37593fd</versionedComponentId>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.28.1</version>
                    </bundle>
                    <config>
                        <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>put-db-record-record-reader</key>
<value>
    <identifiesControllerService>org.apache.nifi.serialization.RecordReaderFactory</identifiesControllerService>
    <name>put-db-record-record-reader</name>
</value>
                            </entry>
                            <entry>
<key>db-type</key>
<value>
    <name>db-type</name>
</value>
                            </entry>
                            <entry>
<key>put-db-record-statement-type</key>
<value>
    <name>put-db-record-statement-type</name>
</value>
                            </entry>
                            <entry>
<key>Statement Type Record Path</key>
<value>
    <dependencies>
        <dependentValues>Use Record Path</dependentValues>
        <propertyName>put-db-record-statement-type</propertyName>
    </dependencies>
    <name>Statement Type Record Path</name>
</value>
                            </entry>
                            <entry>
<key>Data Record Path</key>
<value>
    <name>Data Record Path</name>
</value>
                            </entry>
                            <entry>
<key>put-db-record-dcbp-service</key>
<value>
    <identifiesControllerService>org.apache.nifi.dbcp.DBCPService</identifiesControllerService>
    <name>put-db-record-dcbp-service</name>
</value>
                            </entry>
                            <entry>
<key>put-db-record-catalog-name</key>
<value>
    <name>put-db-record-catalog-name</name>
</value>
                            </entry>
                            <entry>
<key>put-db-record-schema-name</key>
<value>
    <name>put-db-record-schema-name</name>
</value>
                            </entry>
                            <entry>
<key>put-db-record-table-name</key>
<value>
    <name>put-db-record-table-name</name>
</value>
                            </entry>
                            <entry>
<key>put-db-record-binary-format</key>
<value>
    <name>put-db-record-binary-format</name>
</value>
                            </entry>
                            <entry>
<key>put-db-record-translate-field-names</key>
<value>
    <name>put-db-record-translate-field-names</name>
</value>
                            </entry>
                            <entry>
<key>put-db-record-unmatched-field-behavior</key>
<value>
    <name>put-db-record-unmatched-field-behavior</name>
</value>
                            </entry>
                            <entry>
<key>put-db-record-unmatched-column-behavior</key>
<value>
    <name>put-db-record-unmatched-column-behavior</name>
</value>
                            </entry>
                            <entry>
<key>put-db-record-update-keys</key>
<value>
    <dependencies>
        <dependentValues>Use statement.type Attribute</dependentValues>
        <dependentValues>Use Record Path</dependentValues>
        <dependentValues>UPSERT</dependentValues>
        <dependentValues>UPDATE</dependentValues>
        <dependentValues>SQL</dependentValues>
        <propertyName>put-db-record-statement-type</propertyName>
    </dependencies>
    <name>put-db-record-update-keys</name>
</value>
                            </entry>
                            <entry>
<key>put-db-record-field-containing-sql</key>
<value>
    <dependencies>
        <dependentValues>Use statement.type Attribute</dependentValues>
        <dependentValues>Use Record Path</dependentValues>
        <propertyName>put-db-record-statement-type</propertyName>
    </dependencies>
    <name>put-db-record-field-containing-sql</name>
</value>
                            </entry>
                            <entry>
<key>put-db-record-allow-multiple-statements</key>
<value>
    <dependencies>
        <dependentValues>Use statement.type Attribute</dependentValues>
        <dependentValues>Use Record Path</dependentValues>
        <propertyName>put-db-record-statement-type</propertyName>
    </dependencies>
    <name>put-db-record-allow-multiple-statements</name>
</value>
                            </entry>
                            <entry>
<key>put-db-record-quoted-identifiers</key>
<value>
    <name>put-db-record-quoted-identifiers</name>
</value>
                            </entry>
                            <entry>
<key>put-db-record-quoted-table-identifiers</key>
<value>
    <name>put-db-record-quoted-table-identifiers</name>
</value>
                            </entry>
                            <entry>
<key>put-db-record-query-timeout</key>
<value>
    <name>put-db-record-query-timeout</name>
</value>
                            </entry>
                            <entry>
<key>rollback-on-failure</key>
<value>
    <name>rollback-on-failure</name>
</value>
                            </entry>
                            <entry>
<key>table-schema-cache-size</key>
<value>
    <name>table-schema-cache-size</name>
</value>
                            </entry>
                            <entry>
<key>put-db-record-max-batch-size</key>
<value>
    <name>put-db-record-max-batch-size</name>
</value>
                            </entry>
                            <entry>
<key>database-session-autocommit</key>
<value>
    <name>database-session-autocommit</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>put-db-record-record-reader</key>
<value>bdf966fe-2ba8-36e7-0000-000000000000</value>
                            </entry>
                            <entry>
<key>db-type</key>
<value>Generic</value>
                            </entry>
                            <entry>
<key>put-db-record-statement-type</key>
<value>INSERT</value>
                            </entry>
                            <entry>
<key>Statement Type Record Path</key>
                            </entry>
                            <entry>
<key>Data Record Path</key>
                            </entry>
                            <entry>
<key>put-db-record-dcbp-service</key>
<value>559e5aef-3e1a-305a-0000-000000000000</value>
                            </entry>
                            <entry>
<key>put-db-record-catalog-name</key>
                            </entry>
                            <entry>
<key>put-db-record-schema-name</key>
                            </entry>
                            <entry>
<key>put-db-record-table-name</key>
<value>netflix_titles</value>
                            </entry>
                            <entry>
<key>put-db-record-binary-format</key>
<value>UTF-8</value>
                            </entry>
                            <entry>
<key>put-db-record-translate-field-names</key>
<value>true</value>
                            </entry>
                            <entry>
<key>put-db-record-unmatched-field-behavior</key>
<value>Ignore Unmatched Fields</value>
                            </entry>
                            <entry>
<key>put-db-record-unmatched-column-behavior</key>
<value>Ignore Unmatched Columns</value>
                            </entry>
                            <entry>
<key>put-db-record-update-keys</key>
                            </entry>
                            <entry>
<key>put-db-record-field-containing-sql</key>
                            </entry>
                            <entry>
<key>put-db-record-allow-multiple-statements</key>
<value>false</value>
                            </entry>
                            <entry>
<key>put-db-record-quoted-identifiers</key>
<value>false</value>
                            </entry>
                            <entry>
<key>put-db-record-quoted-table-identifiers</key>
<value>false</value>
                            </entry>
                            <entry>
<key>put-db-record-query-timeout</key>
<value>0 seconds</value>
                            </entry>
                            <entry>
<key>rollback-on-failure</key>
<value>false</value>
                            </entry>
                            <entry>
<key>table-schema-cache-size</key>
<value>100</value>
                            </entry>
                            <entry>
<key>put-db-record-max-batch-size</key>
<value>1000</value>
                            </entry>
                            <entry>
<key>database-session-autocommit</key>
<value>false</value>
                            </entry>
                        </properties>
                        <retryCount>10</retryCount>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>PutDatabaseRecord</name>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>failure</name>
                        <retry>false</retry>
                    </relationships>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>retry</name>
                        <retry>false</retry>
                    </relationships>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>success</name>
                        <retry>false</retry>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.PutDatabaseRecord</type>
                </processors>
                <processors>
                    <id>88852f5e-9cf4-3fa2-0000-000000000000</id>
                    <parentGroupId>9c837d87-1416-3c3c-0000-000000000000</parentGroupId>
                    <position>
                        <x>504.0</x>
                        <y>-160.0</y>
                    </position>
                    <versionedComponentId>88852f5e-9cf4-3fa2-be8a-e6f91396400b</versionedComponentId>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.28.1</version>
                    </bundle>
                    <config>
                        <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Input Directory</key>
<value>
    <name>Input Directory</name>
</value>
                            </entry>
                            <entry>
<key>File Filter</key>
<value>
    <name>File Filter</name>
</value>
                            </entry>
                            <entry>
<key>Path Filter</key>
<value>
    <name>Path Filter</name>
</value>
                            </entry>
                            <entry>
<key>Batch Size</key>
<value>
    <name>Batch Size</name>
</value>
                            </entry>
                            <entry>
<key>Keep Source File</key>
<value>
    <name>Keep Source File</name>
</value>
                            </entry>
                            <entry>
<key>Recurse Subdirectories</key>
<value>
    <name>Recurse Subdirectories</name>
</value>
                            </entry>
                            <entry>
<key>Polling Interval</key>
<value>
    <name>Polling Interval</name>
</value>
                            </entry>
                            <entry>
<key>Ignore Hidden Files</key>
<value>
    <name>Ignore Hidden Files</name>
</value>
                            </entry>
                            <entry>
<key>Minimum File Age</key>
<value>
    <name>Minimum File Age</name>
</value>
                            </entry>
                            <entry>
<key>Maximum File Age</key>
<value>
    <name>Maximum File Age</name>
</value>
                            </entry>
                            <entry>
<key>Minimum File Size</key>
<value>
    <name>Minimum File Size</name>
</value>
                            </entry>
                            <entry>
<key>Maximum File Size</key>
<value>
    <name>Maximum File Size</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Input Directory</key>
<value>C:\Users\SHARIQ ALI\OneDrive\Desktop\DATA ENGINEERING\netflix-data-pipeline\data_pipeline\input</value>
                            </entry>
                            <entry>
<key>File Filter</key>
<value>[^\.].*</value>
                            </entry>
                            <entry>
<key>Path Filter</key>
                            </entry>
                            <entry>
<key>Batch Size</key>
<value>10</value>
                            </entry>
                            <entry>
<key>Keep Source File</key>
<value>true</value>
                            </entry>
                            <entry>
<key>Recurse Subdirectories</key>
<value>true</value>
                            </entry>
                            <entry>
<key>Polling Interval</key>
<value>0 sec</value>
                            </entry>
                            <entry>
<key>Ignore Hidden Files</key>
<value>true</value>
                            </entry>
                            <entry>
<key>Minimum File Age</key>
<value>0 sec</value>
                            </entry>
                            <entry>
<key>Maximum File Age</key>
                            </entry>
                            <entry>
<key>Minimum File Size</key>
<value>0 B</value>
                            </entry>
                            <entry>
<key>Maximum File Size</key>
                            </entry>
                        </properties>
                        <retryCount>10</retryCount>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>GetFile</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                        <retry>false</retry>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.GetFile</type>
                </processors>
            </contents>
            <defaultBackPressureDataSizeThreshold>1 GB</defaultBackPressureDataSizeThreshold>
            <defaultBackPressureObjectThreshold>10000</defaultBackPressureObjectThreshold>
            <defaultFlowFileExpiration>0 sec</defaultFlowFileExpiration>
            <flowfileConcurrency>UNBOUNDED</flowfileConcurrency>
            <flowfileOutboundPolicy>STREAM_WHEN_AVAILABLE</flowfileOutboundPolicy>
            <name>Pipeline 3 - Data Warehouse Loading</name>
            <variables/>
        </processGroups>
    </snippet>
    <timestamp>07/03/2026 00:25:50 CEST</timestamp>
</template>
